/* Body */
/* v1.1 */
/* https://github.com/linzor/Spotify_Custom_CSS */
/* Change your background here */
body{
 background-image:url("https://w.wallhaven.cc/full/vg/wallhaven-vg2e15.jpg");
 background-size:cover;
}



/* CSS: */
/* Buttons */
/* Pxdw */
.rezqw3Q4OEPB1m4rmwfw .tGKwoPuvNBNK3TzCS5OH .uPxdw{
 filter: hue-rotate(125deg);
}

/* Button qlcn5g 0 */
.eSg4ntPU2KQLfpLGXAww .PFgcCoJSWC3KjhZxHDYH .Button-sc-qlcn5g-0{
 filter: hue-rotate(125deg);
}

/* Division */
.iSbqnFdjb1SuyJ3uWydl a .kHHFyx{
 filter: hue-rotate(125deg);
}

/* Division */
.iSbqnFdjb1SuyJ3uWydl .NZAU7CsuZsMeMQB8zYUu .VpYFchIiPg3tPhBGyynT{
 filter: hue-rotate(125deg);
}

/* Sq3ply5p4tldskrw */
li > .g_jOSq3pLY5p4tldskrw{
 filter: hue-rotate(125deg);
}

/* Control button heart */
.OgkbKIVYE_mrNpYESylB .deomraqfhIAoSB3SgXpu .control-button-heart{
 filter: hue-rotate(125deg);
}

/* Pxdw */
.ShMHCGsT93epRGdxJp2w .tGKwoPuvNBNK3TzCS5OH .uPxdw{
 filter: hue-rotate(125deg);
}

/* Button qlcn5g 0 */
.BL__GuO2JsHMR6RgNfwY .Shelf .Button-sc-qlcn5g-0{
 filter: hue-rotate(125deg);
}

/* Button qlcn5g 0 */
.Root__main-view .LunqxlFIupJw_Dkx6mNx .Button-sc-qlcn5g-0{
 filter: hue-rotate(125deg);
}

/* Button qlcn5g 0 */
.WBxE9PQe96PpkE9RuTo5 .DyuLxip2Kl8P7H8fW62u .Button-sc-qlcn5g-0{
 filter: hue-rotate(125deg);
}


/* layout */
/* Hsbcz dqu9qjc yr7e idhr */
.Root__main-view main .HsbczDqu9qjcYr7EIdHR{
 background-color:rgba(0,0,0,0) !important;
 filter:blur(10px);
 box-shadow:none;
 border-top-left-radius:50px;
 border-top-right-radius:50px;
 border-bottom-left-radius:50px;
 border-bottom-right-radius:50px;
}

/* Division */
.uIJTvxFOg2izOY7aRRiU .Shelf .LunqxlFIupJw_Dkx6mNx{
 background-color:rgba(0,0,0,0.38);
 backdrop-filter:blur(10px);
}

/* Root  nav bar */
.Root .Root__nav-bar{
 background-color:rgba(0,0,0,0.35);
 backdrop-filter:blur(5px);
}

/* Footer */
.Root .Root__now-playing-bar footer{
 background-color:rgba(0,0,0,0.35);
 backdrop-filter:blur(5px);
}

/* Ci5usqx7zo dta9 */
.nlOU1unbFAd7ZHyeSMTH .Z35BWOA10YGn5uc9YgAp .g3f_cI5usQX7ZOQyDtA9{
 backdrop-filter:blur(5px);
}

/* Z35bwoa10y gn5uc9 */
.rPV8BmHZXaGIGT2HwvBB .nlOU1unbFAd7ZHyeSMTH .Z35BWOA10YGn5uc9YgAp{
 background-color:rgba(255,255,255,0.05);
}

/* Content spacing */
.Root__main-view section .contentSpacing{
 transform:translatex(0px) translatey(0px);
}

/* T1xi1rtsfu7 wu94 uuve6 */
.Root__top-bar header .T1xI1RTSFU7Wu94UuvE6{
 background-color:rgba(0,0,0,0) !important;
}

/* Evir4o7jo nmxt mdiq0 */
.Root__top-bar header .EvIR4O7jOSbNmxtMdIQ0{
 background-color:rgba(0,0,0,0);
}

/* Navigation */
.Root__main-view main nav{
 background-color:rgba(18,18,18,0);
}

/* List */
#context-menu .ERyo7m5f00o7ToFdGMCD ul{
 background-color:rgba(0,0,0,0.35);
 backdrop-filter:blur(5px);
}

/* Link */
.hxvMeW .hHKmGM a{
 background-color:rgba(41,41,41,0);
}

/* Rfdrts gwuly deplutt */
.Root__top-bar header .RfdRTSGwulyQdDepLUTT{
 background-color:rgba(0,0,0,0.35);
 backdrop-filter:blur(5px);
}

/* Rezqw3q4oepb1m4rmwfw */
.Root__main-view main .rezqw3Q4OEPB1m4rmwfw{
 background-color:rgba(18,18,18,0);
 transform:translatex(0px) translatey(0px);
}

/* Fiuw og93pv tefead */
.dZ3U5sTGUTdanNamXe1z .gHImFiUWOg93pvTefeAD{
 background-color:rgba(0,0,0,0) !important;
 opacity:0;
}

/* Link */
.Foyk_HJx16yh22JYmQ56 .eNs6P3JYpf2LScgTDHc6 a{
 display:none;
}

/* Division */
.LKgm9fCDTO7wqig_5U1q .EY6S7vlkxB7SF_OjjF_Y .McwcCfBLSuXa5UDU1IMw{
 opacity:0;
}

/* Koyey6 aggr pmypi ti7yo */
.rezqw3Q4OEPB1m4rmwfw .ShMHCGsT93epRGdxJp2w .koyeY6AgGRPmyPITi7yO{
 margin-top:22px;
 background-color:rgba(0,0,0,0.35);
 backdrop-filter:blur(5px);
 border-top-left-radius:15px;
 border-top-right-radius:15px;
 border-bottom-left-radius:15px;
 border-bottom-right-radius:15px;
}

/* Colo4pd sl8lg wyvza00t */
.dZ3U5sTGUTdanNamXe1z .rezqw3Q4OEPB1m4rmwfw .CoLO4pdSl8LGWyVZA00t{
 background-color:rgba(0,0,0,0) !important;
 opacity:0;
}

/* Content */
.Root__main-view .os-padding .os-content{
 transform:translatex(0px) translatey(0px);
}

/* Tr8v5e ikoy vw7esg */
.Root__main-view main .tr8V5eHsUaIkOYVw7eSG{
 transform:translatex(0px) translatey(0px);
 background-color:rgba(2,2,2,0.35);
}

/* L9xhjo jnv2ol5 chm3 jew */
.Root__main-view main .L9xhJOJnV2OL5Chm3Jew{
 background-color:rgba(61,14,14,0);
}

/* Esr mgby3 tien asbdha */
#main .Root .Root__top-container .Root__main-view .main-view-container .os-host-overflow-x .os-padding .os-viewport .os-content .main-view-container__scroll-node-child main .tr8V5eHsUaIkOYVw7eSG .Q2RPoHcoxygOoPLXLMww .esRByMgBY3TiENAsbDHA{
 width:1537px !important;
}

/* Division */
.Q2RPoHcoxygOoPLXLMww .esRByMgBY3TiENAsbDHA .NiCdLCpp3o2z6nBrayOn{
 color:#ffffff;
}

/* Division */
.Root__main-view div .LunqxlFIupJw_Dkx6mNx{
 background-color:rgba(0,0,0,0.35);
 backdrop-filter:blur(5px);
}

/* Colo4pd sl8lg wyvza00t */
.Root__main-view main .CoLO4pdSl8LGWyVZA00t{
 background-color:rgba(0,0,0,0) !important;
 opacity:0;
}

/* Koyey6 aggr pmypi ti7yo */
.dZ3U5sTGUTdanNamXe1z .ShMHCGsT93epRGdxJp2w .koyeY6AgGRPmyPITi7yO{
 background-color:rgba(0,0,0,0.35);
 backdrop-filter:blur(5px);
 border-top-left-radius:15px;
 border-top-right-radius:15px;
 border-bottom-left-radius:15px;
 border-bottom-right-radius:15px;
}

/* K2i8b0 xkaj6 s8okm7 */
.under-main-view div .k2I8B0MzXkAJ6_s8okM7{
 opacity:0;
}

/* Division */
.Root__main-view main .BL__GuO2JsHMR6RgNfwY{
 background-color:rgba(18,18,18,0);
}

/* Myw8tk eekj9lk qsvi */
.under-main-view div .MyW8tKEekj9lKQsviDdP{
 opacity:0;
}

/* Ddna dlztx7 ccwta */
.Root__main-view main .fVB_YDdnaDlztX7CcWTA{
 background-color:rgba(0,0,0,0);
}

/* Division */
.Root__main-view .os-padding .main-view-container__scroll-node-child-spacer{
 background-color:rgba(0,0,0,0);
}

/* Division */
.nGARy02O1AklvHT7OBLA .Shelf .HkbHLcqgUfXruL5xVi28{
 background-color:rgba(0,0,0,0.35);
 backdrop-filter:blur(5px);
}

/* Pmmy yhskhqhjc aruvi */
.ShMHCGsT93epRGdxJp2w .koyeY6AgGRPmyPITi7yO .dZPmmYYhskhqHJCAruvI{
 color:#ffffff;
}

/* Standalone ellipsis one line */
.ShMHCGsT93epRGdxJp2w .hGXzYa .standalone-ellipsis-one-line{
 color:#ffffff;
}

/* Fiuw og93pv tefead */
.umiKMm5NVr5UeBJCHS6U .gHImFiUWOg93pvTefeAD{
 opacity:0;
}

/* Fiuw og93pv tefead */
.n8Bz0c0v17whD3KfMdOk .gHImFiUWOg93pvTefeAD{
 opacity:0;
}

/* Division */
.GenericModal--afterOpen .os-padding .ejNsts52hRq0uZcc_NXi{
 transform:translatex(0px) translatey(0px);
}

/* Viewport */
.GenericModal--afterOpen .os-padding .os-viewport{
 opacity:1;
}

/* Division */
.ReactModalPortal .GenericModal--afterOpen{
 background-color:rgba(0,0,0,0.35);
 backdrop-filter:blur(5px);
 transform:translatex(0px) translatey(0px);
}

